.dropdown-menu.show {
  right: -20px;
  top: 50px;
  left: auto;
}
#navbarScrollingDropdown {
  padding: 0px;
}
#navbarScrollingDropdown > img {
  margin-right: 8px;
  border-radius: 10%;
}
.navbar-brand > img {
  width: 100px;
  margin-right: 20px;
}
.nav {
  background-color: black !important;
  font-size: 14px;
  font-weight: 300;
  font-family: "Open-sans", sans-serif;
}
a.nav-link {
  color: #e5e5e5;
}
a.nav-link:focus {
  font-weight: 400;
  color: white;
}
@media (max-width: 991px) {
  .navbar-toggler {
    position: absolute !important;
    top: 10px;
    left: 200px;
  }
  .navbar-nav {
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .navbar-nav-scroll {
    position: relative;
  }
  .dropdown-menu.show {
    z-index: 3;
    position: absolute;
    top: inherit;
    right: 0;
  }
}

@media (max-width: 430px) {
  .container-fluid {
    margin: 2px !important;
  }
  a.navbar-brand,
  a.navbar-brand > * {
    margin: 0px !important;
  }
  .banner-text {
    width: 100%;
    padding: 2rem;
    animation: growAndReturnMobile 3s ease-in-out;
    transform-origin: bottom left; /* 애니메이션 기준점을 오른쪽 위로 설정 */
  }
  .banner-text h1 {
    font-size: 2.5rem;
  }
  .navbar-nav {
    justify-content: center;
    gap: 8px !important;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .form-control {
    width: 80px;
    padding: 0 0 0 10px;
  }

  .form-control:focus {
    width: 140px;
  }

  .navbar-toggler {
    top: 13px;
    left: 130px;
  }
  .navbar-nav-scroll {
    position: relative;
  }
  /* .dropdown-menu.show {
    z-index: 3;
    position: absolute;
    top: inherit;
    right: 0;
  } */
}
