.dropdown-menu.show {
  right: -20px;
  top: 50px;
  left: auto;
}
#navbarScrollingDropdown {
  padding: 0px;
}
#navbarScrollingDropdown > img {
  margin-right: 8px;
  border-radius: 10%;
}
.navbar-brand > img {
  width: 100px;
  margin-right: 20px;
}
.nav {
  background-color: black !important;
  font-size: 14px;
  font-weight: 300;
  font-family: "Open-sans", sans-serif;
}
a.nav-link {
  color: #e5e5e5;
}
a.nav-link:focus {
  font-weight: 400;
  color: white;
}
@media (max-width: 991px) {
  .navbar-toggler {
    position: absolute !important;
    top: 15px;
    left: 140px;
  }
}
