html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: #141414 !important;
  color: white !important;
}

@font-face {
  font-family: "DeadSold";
  src: url("/fonts/DeadSold-RpKVo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dokdo";
  src: url("/fonts/Dokdo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
