body {
  /* background: url(https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg); */
  background: url(./assets/sky-with-white-clouds.jpg);
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  /* background-color: rgba(169, 169, 169, 0.3); */
  background-color: rgba(0, 0, 0, 0.3);
}
.wrapper {
  height: 90%;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90%;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
}
