body {
  /* background: url(https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg); */
  background: url(./assets/sky-with-white-clouds.jpg);
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90%;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
}

@media (max-width: 600px) {
  .body {
    overflow: hidden;
  }
  .container {
    height: 90%;
    overflow: auto;
    position: absolute;
    padding-bottom: 30px;
    top: 40px;
  }

  .main {
    flex-direction: column;
    width: 90dvw;
    height: auto;
    position: absolute;
    top: 30px;
    padding-bottom: 20px;
    color: black;
  }
}
