.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
}

.counter-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
  width: 400px;
  height: 500px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.count {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
  align-self: center;
}

.btn:hover,
button:hover {
  background-color: rgba(17, 15, 15, 0.8);
  color: white;
}

#input {
  height: 30px;
  width: 60px;
  font-size: 18px;
  text-align: center;
}
img {
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.setting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.count > button {
  font-size: 20px;
}
.gradient-text {
  font-style: italic;
  background: linear-gradient(
    to right,
    black,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.6),
    gray
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
