.banner {
  height: 675.2px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, transparent);
}

@keyframes growAndReturn {
  0% {
    transform: scale(1.4); /* 처음에 1.5배로 커짐 */
    /* translate: 20% -100%; */
  }
  50% {
    transform: scale(1.4); /* 80% 지점에서 1.5배 유지 */
    /* translate: 20% -100%; */
  }
  100% {
    transform: scale(1); /* 원래 크기로 돌아옴 */
    /* translate: 0 0; */
  }
}

.banner-text {
  position: absolute;
  justify-content: flex-end;
  align-items: start;
  width: 55%;
  height: 100%;
  padding: 4rem 5rem;
  animation: growAndReturn 3s ease-in-out;
  transform-origin: bottom left; /* 애니메이션 기준점을 오른쪽 위로 설정 */
  font-family: "Dokdo", sans-serif;
}

.banner-text > * {
  z-index: 1;
}
.banner-text h1 {
  font-size: 7rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.banner-text p {
  font-size: 1.5rem;
}

@keyframes growAndReturnMobile {
  0% {
    transform: scale(1.2); /* 처음에 1.5배로 커짐 */
    /* translate: 20% -100%; */
  }
  50% {
    transform: scale(1.2); /* 80% 지점에서 1.5배 유지 */
    /* translate: 20% -100%; */
  }
  100% {
    transform: scale(1); /* 원래 크기로 돌아옴 */
    /* translate: 0 0; */
  }
}

@media (max-width: 430px) {
  .banner {
    height: 422px;
  }
  .banner-text {
    width: 68%;
    padding: 1rem;
    animation: growAndReturnMobile 3s ease-in-out;
  }
  .banner-text h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
  }
  .banner-text p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
}
