.poster-card {
  width: 200px;
  margin-right: 10px;
  height: 300px;
  object-fit: contain;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border-radius: 5px;
}
.info-title-small {
  font-size: 20px;
}
.info {
  background-color: #181818a9 !important;
}
.poster-card:hover {
  .info {
    opacity: 1;
    height: 100%;
    position: relative;
  }
}

@media (max-width: 430px) {
  .poster-card {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
  }

  .title {
    font-size: 25px;
  }

  .play-button {
    width: 60% !important;
  }
}
