.poster-card {
  width: 205px;
  margin-right: 10px;
  height: 307px;
  object-fit: cover;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 5px;
}
.info-title-small {
  font-size: 20px;
}
.info-title-lg {
  font-size: 25px;
}

.info-movies {
  background-color: #181818a9 !important;
  position: relative !important;
  justify-content: space-between !important;
}
.poster-card:hover {
  .info {
    opacity: 1;
    height: 100%;
    position: relative;
  }
}

@media (max-width: 430px) {
  .poster-card {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
  }

  .info-title-small {
    font-size: 17px;
  }
  .title {
    font-size: 19px;
  }
  .info-title-lg {
    font-size: 20px;
  }

  .play-button {
    /* padding: 4px !important; */
    width: max-content !important;
    /* font-size: 15px; */
    height: fit-content;
    /* position: absolute;
    top: 50%;
    left: 40%; */
  }
  .info-movies {
    width: 100% !important;
    padding-left: 27px !important;
  }
}
