.bg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='300' viewBox='0 0 300 300'%3E%3Cg transform='rotate(-22.5 50 150)'%3E%3Ctext x='0' y='200' font-size='30' fill='none' stroke='%23FF5722' stroke-width='1' font-family='Gamja Flower'  %3Eh     i          🐾     %3C/text%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 300px 300px;
  background-attachment: fixed;
  background-position: center;
}
