.logo {
  background-color: #fcf9ee;
  display: flex;
  justify-content: center;
}
.navbar {
  background-color: #fcf9ee;
  padding: 1% 5%;
  align-items: center;
  flex-direction: column;
}
.topbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  font-size: 21px;
  color: black;
}

.login > span {
  font-size: 14px;
  font-weight: 400;
}
.login {
  font-size: 21px;
  color: black;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  width: fit-content;
  align-items: flex-end;
}
.icons {
  display: flex;
  gap: 30px;
}
.menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0px;
  margin: 16px 0;
}

.menu > li {
  padding: 0 20px;
  font-size: 12px;
  color: rgb(43, 42, 42);
}
.search {
  display: flex;
  gap: 5px;
  align-items: center;
  border-bottom: 1px solid black;
}
.search > input {
  padding: 3px;
  border: none;
  background-color: #fcf9ee;
  font-size: 14px;
  width: 155px;
}
.product-img {
  width: 100%;
}

.product-all {
  background-color: #fcf9ee;
}
.product-card > p {
  font-size: 14px;
  color: black;
  margin: 0;
}

@media (max-width: 390px) {
  .icons {
    gap: 15px;
  }
  .navbar {
    padding: 2% 3%;
  }
  .topbar {
    padding-bottom: 15px;
  }
  .menu > li {
    padding: 0 10px;
    font-size: 10px;
  }
  .search > input {
    font-size: 12px;
    width: 120px;
  }
}
