/* Navbar */

.logo {
  background-color: #fcf9ee;
  display: flex;
  justify-content: center;
}
.navbar {
  background-color: #fcf9ee;
  padding: 1% 5%;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.navbar > .container-fluid {
  flex-direction: column;
  width: 100%;
}
.navbar-expand-sm {
  padding: 0px;
}
.topbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  font-size: 21px;
  color: black;
}

.login > span {
  font-size: 14px;
  font-weight: 400;
}
.login {
  font-size: 21px;
  color: black;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  width: fit-content;
  align-items: flex-end;
  cursor: pointer;
}
.icons {
  display: flex;
  gap: 30px;
}
.menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0px;
  margin: 16px 0;
}

.menu > .navlink {
  margin: 0 20px;
  font-size: 12px;
  color: rgb(43, 42, 42);
  border-bottom: 1px solid transparent;
  cursor: pointer;
  padding-bottom: 0px;
}
.menu > .navlink:hover {
  border-bottom: 1px solid black;
  font-weight: bold;
  outline: none;
}
.search {
  display: flex;
  gap: 5px;
  align-items: center;
  border-bottom: 1px solid black;
}
.search > input {
  padding: 3px;
  border: none;
  background-color: #fcf9ee;
  font-size: 14px;
  width: 155px;
}
.search:focus-within {
  outline: 1.2px solid black;
  outline-offset: 4px;
  border-radius: 20px;
  border-bottom: 1px solid transparent;
  width: 20%;
}
.search > input:focus {
  width: 88%;
}

input:focus {
  outline: none;
}

/* ProductCard */

.product-img {
  width: 100%;
  height: 350px;
}
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 0px;
  /* padding: 20px; */
}
.product-card > div {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
}
.product-card > .choice {
  font-size: 11px;
  color: black;
  font-weight: 600;
}

/* ProductAll */

.product-all {
  background-color: #fcf9ee;
  width: 100%;
}
.product-all-container {
  max-width: 98%;
}
.postcard-hover-scale {
  transition: transform 0.3s ease;
  padding-bottom: 20px;
}
.postcard-hover-scale:hover {
  transform: scale(1.05);
}

.title {
  height: 100px;
  padding: 1% 5%;
  display: flex;
  align-items: flex-end;
  font-size: x-large;
  font-family: "Nanum Myeongjo", PingFang, Times, "Times New Roman", serif;
}

/* Login */

.login-container {
  height: 75vh;
  width: 100%;
  position: relative;
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  /* box-sizing: border-box; */
}
.login-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.login-form-container {
  border: 1px solid rgba(128, 128, 128, 0.3);
  width: 37%;
  height: 90%;
}
.login-buttons {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0px;
}
.button {
  width: 60%;
  font-size: 16px;
  background-color: #fcf9ee;
  padding: 6% 0% 3% 0%;
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  font-size: small;
  color: rgba(128, 128, 128, 0.3);
}
/* .test-container {
  width: 40%;
  border: 1px solid rgba(128, 128, 128, 0.3);
  padding: 0;
} */
.active {
  border-bottom: 1px solid black;
  color: black;
}
.button:hover {
  border-color: inherit;
}
.login-form {
  margin: 10% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
}
.login-form > Form {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.input-box,
.submit-button {
  border-radius: 0%;
  height: 50px;
  border-color: rgba(128, 128, 128, 0.3);
}
.submit-button {
  background-color: #1c1c1c;
}
.submit-button:hover {
  background-color: hsl(56, 9%, 31%);
  border-color: hsl(56, 9%, 31%);
}
.find-pw {
  font-size: 12px;
  color: black;
  text-align: start;
  background-color: inherit;
  border-bottom: 1px solid #1c1c1c;
  width: fit-content;
  padding: 0px;
  border-radius: 0px;
  margin-bottom: 20px;
}
.find-pw:hover,
.find-pw:focus,
.find-pw:focus-visible {
  border-color: #fcf9ee;
  border-bottom: 1px solid #1c1c1c;
}

/* ProductDetail */
.detail-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.detail-bg-img {
  width: 100%;
}
.detail-img-box {
  flex: 13;
}
.detail-img {
  width: 100%;
  background-color: #f7f4e9;
}
.detail-container {
  padding: 0 8%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 30px;
}
.img-options {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  gap: 15px;
}
.small-img {
  width: 90%;
  height: auto;
  background-color: #f7f4e9;
}
.selected {
  outline: 1px solid black;
}
.detail-text {
  flex: 7;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 30px;
  font-family: "Nanum Myeongjo", PingFang, Times, "Times New Roman", serif;
}
.detail-title {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
}
.detail-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.option-btn {
  background-color: #fcf9ee;
  border: 1px solid black;
  border-radius: 0px;
  padding: 9px 24px;
  font-size: 12px;
  font-weight: bold;
  margin: 15px 0px;
}
.option-btn:hover {
  border: 1px solid black;
}
.option-btn.selected,
.option-btn:focus {
  background-color: #1c1c1c;
  color: #fcf9ee;
  border: 1px solid black;
  outline: none;
}
.detail-info {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  gap: 30px;
  padding: 20px;
  align-items: flex-start;
  justify-content: center;
  background-color: #f7f4e9;
}
.cute-font {
  font-family: "Noto Sans KR", PingFang, Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
}
@media (max-width: 420px) {
  .detail-container,
  .detail-main {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
  }
  .detail-text {
    margin: 0px;
    width: 98%;
  }
  .detail-bg-img {
    height: 100px;
    object-fit: cover;
    padding: 0px;
    margin: 0px;
  }
  .img-options {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .container-fluid {
    padding: 0px;
    position: relative;
  }
  .icons {
    gap: 8px;
    flex: 4;
    justify-content: space-around;
  }
  .navbar {
    padding: 2% 1%;
  }
  .topbar {
    padding-bottom: 15px;
    align-items: center;
    gap: 3%;
    width: 100%;
  }
  .navbar-toggler {
    border: none;
    flex: 1;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-collapse {
    position: fixed;
    top: 55px;
    left: 0;
    background-color: #fcf9ee;
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid black;
    padding: 20px 0 20px 20px;
    z-index: 1;
  }
  .menu {
    gap: 20px;
  }
  .search {
    margin-right: 10px;
    flex: 3;
  }
  .search > input {
    font-size: 12px;
    width: 90px;
  }
  .title {
    font-size: 1.3em;
    padding-bottom: 20px;
  }
  .login-form-container {
    width: 90%;
  }
  .login-form > Form {
    width: 100%;
  }
  .option-btn {
    padding: 14px 22px;
  }
}
